[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/viader
[access "refs/for/refs/*"]
	read = group user/viader
	push = group user/viader
	label-Code-Review = -2..+2 group user/viader
	label-Verified = -1..+1 group user/viader
	rebase = group user/viader
	removeReviewer = group user/viader
	submit = group user/viader
[access "refs/heads/*"]
	read = group user/viader
	create = group user/viader
	push = +force group user/viader
	pushMerge = group user/viader
[access "refs/tags/*"]
	push = group user/viader
	push = +force group user/viader
